header {
  padding: 15px 0px;
  background: #024364;
  color: white;
}
main .container {
  padding-top: 25px;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}
.todo-item {
  flex: 1;
}
#todo-list i {
  margin: 0 10px;
  pointer-events: none;
}
.bi-pencil-fill {
  color: navy;
}
.bi-x-square-fill {
  color: red;
}
#edit-todo-form {
  display: none;
}
main ul,
form {
  box-shadow: 0px 5px 17px -3px rgba(2, 67, 100, 0.42);
}

li {
  display: flex;
}
